# Compiled class file
*.class

# Log file
*.log
console.iml

# BlueJ files
*.ctxt
.project

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
.settings
.idea
target
JSmooth0997
classes

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
