<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="后台帐户管理"
        width="800"
        height="600">
    <message name="confirm-reset-password"><![CDATA[重置帐户 <b><u>{}</u></b> 的密码，此操作无法被撤销！确认吗？]]></message>
    <message name="confirm-delete"><![CDATA[删除帐户 <b><u>{}</u></b>，此操作无法被撤销！确认吗？]]></message>
    <message name="confirm-delete-expected">删除</message>
    <action name="search" title="搜索(S)" mnemonic="S" smallIcon="search.png"/>
    <action name="view" title="查看(V)" mnemonic="V" smallIcon="view.png"/>
    <action name="create" title="创建(C)" mnemonic="C"/>
    <action name="edit" title="编辑(E)" mnemonic="E" smallIcon="edit.png"/>
    <action name="reset-password" title="重置密码(R)" mnemonic="R" smallIcon="reset.png"/>
    <action name="delete" title="删除(X)" mnemonic="X" smallIcon="delete.png"/>
    <gridLayout>
        <column stretch="1" alignment="FIRST"/>
        <row stretch="0">
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <label for="role-name" mnemonic="R">角色(R)：</label>
                    <dropDown name="role-name"/>
                    <label for="enabled" mnemonic="E">是否启用(E)：</label>
                    <dropDown name="enabled" includeAll="true">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </dropDown>
                    <label for="search-key" mnemonic="K">关键字(K)：</label>
                    <text name="search-key" type="TEXT"/>
                    <button actionName="search" default="true"/>
                </boxLayout>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <button actionName="create"/>
                    <button actionName="edit"/>
                    <button actionName="reset-password"/>
                    <button actionName="delete"/>
                </boxLayout>
            </cell>
        </row>
        <row>
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="_row" title="" type="TEXT" size="40"/>
                    <tableColumn name="userName" title="登录名" type="TEXT" size="100"/>
                    <tableColumn name="roles" title="角色" type="TEXT" size="320"/>
                    <tableColumn name="mobile" title="手机号码" type="TEXT" size="100"/>
                    <tableColumn name="enabled" title="是否启用" type="YES_OR_NO" size="30"/>
                    <tableColumn name="createDate" title="最后修改时间" type="DATE_TIME" size="160"/>
                </table>
            </cell>
        </row>
    </gridLayout>
</ui>
