<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="冻结资金-"
        height="300"
        width="500"
>
    <message name="frozen-amt"><![CDATA[当前冻结总额为：{} 元]]></message>
    <message name="unfrozen-success"><![CDATA[解冻资金成功!]]></message>
    <message name="unfrozen-fail"><![CDATA[解冻资金失败!]]></message>
    <action name="search" title="搜索(S)" smallIcon="search.png" mnemonic="S"/>
    <action name="cancel-frozen" title="解除冻结"/>
    <gridLayout>
        <column/>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <button actionName="search" name="search"/>
                    <button actionName="cancel-frozen"/>
                    <label name="progress"/>
                </boxLayout>
            </cell>
        </row>
        <row stretch="1">
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="_row" title="" type="TEXT" size="40"/>
                    <tableColumn name="buyDate" title="冻结时间" type="DATE" size="140"/>
                    <tableColumn name="txAmount" title="冻结金额" type="CURRENCY" size="140"/>
                    <tableColumn name="orderId" title="订单号" type="TEXT" size="140"/>
                </table>
            </cell>
        </row>
    </gridLayout>
</ui>
