<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="后台角色管理"
        width="800"
        height="600">
    <message name="confirm-delete"><![CDATA[删除帐户 <b><u>{}</u></b>，此操作无法被撤销！确认吗？]]></message>
    <message name="confirm-delete-expected">删除</message>
    <action name="search" title="搜索(S)" mnemonic="S" smallIcon="search.png"/>
    <action name="perms" title="权限(P)" mnemonic="P"/>
    <action name="create" title="创建(C)" mnemonic="C"/>
    <action name="edit" title="编辑(E)" mnemonic="E" smallIcon="edit.png"/>
    <action name="delete" title="删除(X)" mnemonic="X" smallIcon="delete.png"/>
    <gridLayout>
        <column alignment="FIRST"/>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <label for="enabled" mnemonic="E">是否启用(E)：</label>
                    <dropDown name="enabled" includeAll="true">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </dropDown>
                    <label for="search-key" mnemonic="K">关键字(K)：</label>
                    <text name="search-key" type="TEXT"/>
                    <button actionName="search" default="true"/>
                </boxLayout>
            </cell>
        </row>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <button actionName="create"/>
                    <button actionName="edit"/>
                    <button actionName="perms"/>
                    <button actionName="delete"/>
                </boxLayout>
            </cell>
        </row>
        <row stretch="100">
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="_row" title="" type="TEXT" size="40"/>
                    <tableColumn name="name" title="角色" type="TEXT" size="100"/>
                    <tableColumn name="title" title="标题" type="TEXT" size="320"/>
                    <tableColumn name="description" title="说明" type="TEXT" size="320"/>
                    <tableColumn name="enabled" title="是否启用" type="YES_OR_NO" size="80"/>
                </table>
            </cell>
        </row>
    </gridLayout>
</ui>
