<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="批量分配客户经理"
        height="500"
        width="650"
>
    <message name="load-success"><![CDATA[已成功导入{}条数据]]></message>
    <message name="load-fail"><![CDATA[导入数据失败]]></message>
    <message name="batchIn-title"><![CDATA[分配客户经理]]></message>
    <message name="success">已成功</message>
    <action name="load" title="载入文件"/>
    <action name="delete" title="删除" smallIcon="delete.png"/>
    <action name="begin" title="开始"/>
    <gridLayout>
        <column/>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <button actionName="load" name="load"/>
                    <button actionName="delete" name="delete"/>
                    <button actionName="begin" name="begin"/>
                </boxLayout>
            </cell>
        </row>
        <row stretch="100">
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="_row" title="" type="TEXT" size="40"/>
                    <tableColumn name="realName" title="姓名" type="TEXT" size="140"/>
                    <tableColumn name="mobile" title="手机" type="TEXT" size="140"/>
                    <tableColumn name="uName" title="客户经理" type="TEXT" size="140"/>
                    <tableColumn name="status" title="状态" type="TEXT" size="180"/>
                </table>
            </cell>
        </row>
    </gridLayout>
</ui>
