<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="检查银行开户-"
>
    <message name="check-success"><![CDATA[已开户！]]></message>
    <message name="check-fail"><![CDATA[未开户！]]></message>
    <standardAction value="ok"/>
    <standardAction value="cancel"/>
    <gridLayout>
        <column/>
        <row>
            <cell>
                <label for="id-card">请输入身份证号：</label>
            </cell>
        </row>
        <row>
            <cell>
                <text name="id-card" required="true" pattern="\d{18}|(\d{17}[xX])|\d{15}|(\d{14}[xX])"/>
            </cell>
        </row>
        <row>
            <cell>
                <boxLayout horizontalAlignment="CENTER">
                    <button actionName="ok" default="true"/>
                    <button actionName="cancel"/>
                </boxLayout>
            </cell>
        </row>
    </gridLayout>
</ui>
