<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="借款个人">
    <message name="create">创建</message>
    <message name="edit">编辑</message>
    <standardAction value="ok"/>
    <standardAction value="cancel"/>
    <options name="genders">
        <option value="1">男</option>
        <option value="0">女</option>
    </options>
    <!--工作性质下拉-->
    <options name="works">
        <option>国家机关、党群组织、企业、事业单位负责人</option>
        <option>专业技术人员</option>
        <option>办事人员和有关人员</option>
        <option>商业、服务业人员</option>
        <option>农、林、牧、渔、水利业生产人员</option>
        <option>生产、运输设备操作人员及有关人员</option>
        <option>军人</option>
        <option>不便分类的其他从业人员</option>
    </options>
    <options name="city">
        <option>北京</option>
        <option>天津</option>
        <option>上海</option>
        <option>重庆</option>
        <option>河北</option>
        <option>山西</option>
        <option>辽宁</option>
        <option>吉林</option>
        <option>黑龙江</option>
        <option>江苏</option>
        <option>浙江</option>
        <option>安徽</option>
        <option>福建</option>
        <option>江西</option>
        <option>山东</option>
        <option>河南</option>
        <option>湖北</option>
        <option>湖南</option>
        <option>广东</option>
        <option>海南</option>
        <option>四川</option>
        <option>贵州</option>
        <option>云南</option>
        <option>陕西</option>
        <option>甘肃</option>
        <option>青海</option>
        <option>台湾</option>
        <option>内蒙古自治区</option>
        <option>广西壮族自治区</option>
        <option>西藏自治区</option>
        <option>西藏自治区</option>
        <option>新疆维吾尔自治区</option>
        <option>香港特别行政区</option>
        <option>澳门特别行政区</option>
    </options>

    <boxLayout>
        <tabbedPane>
            <tab title="个人信息" description="个人信息">
                <gridLayout>
                    <column stretch="0"/>
                    <column/>
                    <column stretch="0"/>
                    <column/>
                    <row>
                        <cell>
                            <label for="real-name">姓名：</label>
                        </cell>
                        <cell>
                            <text name="real-name" required="true" pattern="\w{2,}" size="24"/>
                        </cell>
                        <cell>
                            <label for="show-name">展示名称：</label>
                        </cell>
                        <cell>
                            <text name="show-name" size="24" required="true" pattern=".{2,}"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="mobile">手机号码：</label>
                        </cell>
                        <cell>
                            <text name="mobile" pattern="^1[34578]\d{9}$"/>
                        </cell>
                        <cell>
                            <label for="email">E-Mail：</label>
                        </cell>
                        <cell>
                            <text name="email" required="true"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="wchat">微信：</label>
                        </cell>
                        <cell>
                            <text name="wchat"/>
                        </cell>
                        <cell>
                            <label for="fax">传真：</label>
                        </cell>
                        <cell>
                            <text name="fax"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="id-card">身份证：</label>
                        </cell>
                        <cell>
                            <text name="id-card" pattern="\d{18}|(\d{17}[xX])|\d{15}|(\d{14}[xX])"/>
                        </cell>
                        <cell>
                            <label for="id-card-address-prov">经营区域：</label>
                        </cell>
                        <cell horizontalAlignment="FIRST">
                            <text name="id-card-address-prov" size="12" optionsName="city"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="address">居住地址：</label>
                        </cell>
                        <cell>
                            <text name="address"/>

                        </cell>
                        <cell>
                            <label for="show-address">展示居住地址：</label>
                        </cell>
                        <cell>
                            <text name="show-address" pattern=".{2,}"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="company">工作单位：</label>
                        </cell>
                        <cell>
                            <text name="company"/>
                        </cell>
                        <cell>
                            <label for="position">现任职务：</label>
                        </cell>
                        <cell>
                            <text name="position"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="qq">QQ：</label>
                        </cell>
                        <cell>
                            <boxLayout>
                                <text name="qq"/>
                                <label><![CDATA[<html><font color="gray">
                            （用于生成协议）</font></html>]]></label>
                            </boxLayout>
                        </cell>
                        <cell>
                            <label for="work-nature">工作性质：</label>
                        </cell>
                        <cell>
                            <text name="work-nature" optionsName="works" size="20"/>
                        </cell>
                    </row>
                    <row>
                        <cell verticalAlignment="FIRST">
                            <label for="other-info">其他信息：</label>
                        </cell>
                        <cell columnSpan="3" horizontalAlignment="BOTH" verticalAlignment="BOTH">
                            <text name="other-info" type="TEXT_AREA" rowSize="3"/>
                        </cell>
                    </row>
                    <row>
                        <cell verticalAlignment="FIRST">
                            <label for="intro">介绍：</label>
                        </cell>
                        <cell columnSpan="3" horizontalAlignment="BOTH" verticalAlignment="BOTH">
                            <text name="intro" type="TEXT_AREA" rowSize="6"/>
                        </cell>
                    </row>
                </gridLayout>
            </tab>
            <tab title="联系人1" description="联系人数据1">
                <gridLayout>
                    <column stretch="0"/>
                    <column/>
                    <column stretch="0"/>
                    <column/>
                    <row>
                        <cell>
                            <label for="linkman-name">姓名：</label>
                        </cell>
                        <cell>
                            <text name="linkman-name" pattern="\w{2,}"/>
                        </cell>
                        <cell>
                            <label for="linkman-show-name">展示姓名：</label>
                        </cell>
                        <cell>
                            <text name="linkman-show-name" pattern=".{2,}"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-mobile">手机号码：</label>
                        </cell>
                        <cell>
                            <text name="linkman-mobile" pattern="^1[34578]\d{9}$"/>
                        </cell>
                        <cell>
                            <label for="linkman-email">E-Mail：</label>
                        </cell>
                        <cell>
                            <text name="linkman-email" required="true"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-wchat">微信：</label>
                        </cell>
                        <cell>
                            <text name="linkman-wchat"/>
                        </cell>
                        <cell>
                            <label for="linkman-fax">传真：</label>
                        </cell>
                        <cell>
                            <text name="linkman-fax"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-qq">联系人QQ：</label>
                        </cell>
                        <cell>
                            <text name="linkman-qq"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-address">送达地址：</label>
                        </cell>
                        <cell>
                            <text name="linkman-address"/>
                        </cell>
                        <cell>
                            <label for="linkman-show-address">展示地址：</label>
                        </cell>
                        <cell>
                            <text name="linkman-show-address" pattern=".{2,}"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-id-card">身份证：</label>
                        </cell>
                        <cell>
                            <text name="linkman-id-card" pattern="\d{18}|(\d{17}[xX])|\d{15}|(\d{14}[xX])"/>
                        </cell>
                        <cell>
                            <label for="linkman-relation">与借款人关系：</label>
                        </cell>
                        <cell>
                            <text name="linkman-relation"/>
                        </cell>
                    </row>
                    <row stretch="1">
                        <cell verticalAlignment="BOTH">
                            <label/>
                        </cell>
                    </row>
                </gridLayout>
            </tab>
            <tab title="联系人2" description="联系人数据2">
                <gridLayout>
                    <column stretch="0"/>
                    <column/>
                    <column stretch="0"/>
                    <column/>
                    <row>
                        <cell>
                            <label for="linkman-name2">姓名：</label>
                        </cell>
                        <cell>
                            <text name="linkman-name2"/>
                        </cell>
                        <cell>
                            <label for="linkman-show-name2">展示姓名：</label>
                        </cell>
                        <cell>
                            <text name="linkman-show-name2"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-mobile2">手机号码：</label>
                        </cell>
                        <cell>
                            <text name="linkman-mobile2"/>
                        </cell>
                        <cell>
                            <label for="linkman-email2">E-Mail：</label>
                        </cell>
                        <cell>
                            <text name="linkman-email2"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-wchat2">微信：</label>
                        </cell>
                        <cell>
                            <text name="linkman-wchat2"/>
                        </cell>
                        <cell>
                            <label for="linkman-fax2">传真：</label>
                        </cell>
                        <cell>
                            <text name="linkman-fax2"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-qq2">联系人QQ：</label>
                        </cell>
                        <cell>
                            <text name="linkman-qq2"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-address2">送达地址：</label>
                        </cell>
                        <cell>
                            <text name="linkman-address2"/>
                        </cell>
                        <cell>
                            <label for="linkman-show-address2">展示地址：</label>
                        </cell>
                        <cell>
                            <text name="linkman-show-address2"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-id-card2">身份证：</label>
                        </cell>
                        <cell>
                            <text name="linkman-id-card2"/>
                        </cell>
                        <cell>
                            <label for="linkman-relation2">与借款人关系：</label>
                        </cell>
                        <cell>
                            <text name="linkman-relation2"/>
                        </cell>
                    </row>
                    <row stretch="1">
                        <cell verticalAlignment="BOTH">
                            <label/>
                        </cell>
                    </row>
                </gridLayout>
            </tab>
            <tab title="联系人3" description="联系人数据3">
                <gridLayout>
                    <column stretch="0"/>
                    <column/>
                    <column stretch="0"/>
                    <column/>
                    <row>
                        <cell>
                            <label for="linkman-name3">姓名：</label>
                        </cell>
                        <cell>
                            <text name="linkman-name3"/>
                        </cell>
                        <cell>
                            <label for="linkman-show-name3">展示姓名：</label>
                        </cell>
                        <cell>
                            <text name="linkman-show-name3"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-mobile3">手机号码：</label>
                        </cell>
                        <cell>
                            <text name="linkman-mobile3"/>
                        </cell>
                        <cell>
                            <label for="linkman-email3">E-Mail：</label>
                        </cell>
                        <cell>
                            <text name="linkman-email3"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-wchat3">微信：</label>
                        </cell>
                        <cell>
                            <text name="linkman-wchat3"/>
                        </cell>
                        <cell>
                            <label for="linkman-fax3">传真：</label>
                        </cell>
                        <cell>
                            <text name="linkman-fax3"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-qq3">联系人QQ：</label>
                        </cell>
                        <cell>
                            <text name="linkman-qq3"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-address3">送达地址：</label>
                        </cell>
                        <cell>
                            <text name="linkman-address3"/>
                        </cell>
                        <cell>
                            <label for="linkman-show-address3">展示地址：</label>
                        </cell>
                        <cell>
                            <text name="linkman-show-address3"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-id-card3">身份证：</label>
                        </cell>
                        <cell>
                            <text name="linkman-id-card3"/>
                        </cell>
                        <cell>
                            <label for="linkman-relation3">与借款人关系：</label>
                        </cell>
                        <cell>
                            <text name="linkman-relation3"/>
                        </cell>
                    </row>
                    <row stretch="1">
                        <cell verticalAlignment="BOTH">
                            <label/>
                        </cell>
                    </row>
                </gridLayout>
            </tab>
            <tab title="联系人4" description="联系人数据4">
                <gridLayout>
                    <column stretch="0"/>
                    <column/>
                    <column stretch="0"/>
                    <column/>
                    <row>
                        <cell>
                            <label for="linkman-name4">姓名：</label>
                        </cell>
                        <cell>
                            <text name="linkman-name4"/>
                        </cell>
                        <cell>
                            <label for="linkman-show-name4">展示姓名：</label>
                        </cell>
                        <cell>
                            <text name="linkman-show-name4"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-mobile4">手机号码：</label>
                        </cell>
                        <cell>
                            <text name="linkman-mobile4"/>
                        </cell>
                        <cell>
                            <label for="linkman-email4">E-Mail：</label>
                        </cell>
                        <cell>
                            <text name="linkman-email4"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-wchat4">微信：</label>
                        </cell>
                        <cell>
                            <text name="linkman-wchat4"/>
                        </cell>
                        <cell>
                            <label for="linkman-fax4">传真：</label>
                        </cell>
                        <cell>
                            <text name="linkman-fax4"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-qq4">联系人QQ：</label>
                        </cell>
                        <cell>
                            <text name="linkman-qq4"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-address4">送达地址：</label>
                        </cell>
                        <cell>
                            <text name="linkman-address4"/>
                        </cell>
                        <cell>
                            <label for="linkman-show-address4">展示地址：</label>
                        </cell>
                        <cell>
                            <text name="linkman-show-address4"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-id-card4">身份证：</label>
                        </cell>
                        <cell>
                            <text name="linkman-id-card4"/>
                        </cell>
                        <cell>
                            <label for="linkman-relation4">与借款人关系：</label>
                        </cell>
                        <cell>
                            <text name="linkman-relation4"/>
                        </cell>
                    </row>
                    <row stretch="1">
                        <cell verticalAlignment="BOTH">
                            <label/>
                        </cell>
                    </row>
                </gridLayout>
            </tab>

            <tab title="联系人5" description="联系人数据5">
                <gridLayout>
                    <column stretch="0"/>
                    <column/>
                    <column stretch="0"/>
                    <column/>
                    <row>
                        <cell>
                            <label for="linkman-name5">姓名：</label>
                        </cell>
                        <cell>
                            <text name="linkman-name5"/>
                        </cell>
                        <cell>
                            <label for="linkman-show-name5">展示姓名：</label>
                        </cell>
                        <cell>
                            <text name="linkman-show-name5"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-mobile5">手机号码：</label>
                        </cell>
                        <cell>
                            <text name="linkman-mobile5"/>
                        </cell>
                        <cell>
                            <label for="linkman-email5">E-Mail：</label>
                        </cell>
                        <cell>
                            <text name="linkman-email5"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-wchat5">微信：</label>
                        </cell>
                        <cell>
                            <text name="linkman-wchat5"/>
                        </cell>
                        <cell>
                            <label for="linkman-fax5">传真：</label>
                        </cell>
                        <cell>
                            <text name="linkman-fax5"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-qq5">联系人QQ：</label>
                        </cell>
                        <cell>
                            <text name="linkman-qq5"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-address5">送达地址：</label>
                        </cell>
                        <cell>
                            <text name="linkman-address5"/>
                        </cell>
                        <cell>
                            <label for="linkman-show-address5">展示地址：</label>
                        </cell>
                        <cell>
                            <text name="linkman-show-address5"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-id-card5">身份证：</label>
                        </cell>
                        <cell>
                            <text name="linkman-id-card5"/>
                        </cell>
                        <cell>
                            <label for="linkman-relation5">与借款人关系：</label>
                        </cell>
                        <cell>
                            <text name="linkman-relation5"/>
                        </cell>
                    </row>
                    <row stretch="1">
                        <cell verticalAlignment="BOTH">
                            <label/>
                        </cell>
                    </row>
                </gridLayout>
            </tab>
            <tab title="联系人6" description="联系人数据6">
                <gridLayout>
                    <column stretch="0"/>
                    <column/>
                    <column stretch="0"/>
                    <column/>
                    <row>
                        <cell>
                            <label for="linkman-name6">姓名：</label>
                        </cell>
                        <cell>
                            <text name="linkman-name6"/>
                        </cell>
                        <cell>
                            <label for="linkman-show-name6">展示姓名：</label>
                        </cell>
                        <cell>
                            <text name="linkman-show-name6"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-mobile6">手机号码：</label>
                        </cell>
                        <cell>
                            <text name="linkman-mobile6"/>
                        </cell>
                        <cell>
                            <label for="linkman-email6">E-Mail：</label>
                        </cell>
                        <cell>
                            <text name="linkman-email6"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-wchat6">微信：</label>
                        </cell>
                        <cell>
                            <text name="linkman-wchat6"/>
                        </cell>
                        <cell>
                            <label for="linkman-fax6">传真：</label>
                        </cell>
                        <cell>
                            <text name="linkman-fax6"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-qq6">联系人QQ：</label>
                        </cell>
                        <cell>
                            <text name="linkman-qq6"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-address6">送达地址：</label>
                        </cell>
                        <cell>
                            <text name="linkman-address6"/>
                        </cell>
                        <cell>
                            <label for="linkman-show-address6">展示地址：</label>
                        </cell>
                        <cell>
                            <text name="linkman-show-address6"/>
                        </cell>
                    </row>
                    <row>
                        <cell>
                            <label for="linkman-id-card6">身份证：</label>
                        </cell>
                        <cell>
                            <text name="linkman-id-card6"/>
                        </cell>
                        <cell>
                            <label for="linkman-relation6">与借款人关系：</label>
                        </cell>
                        <cell>
                            <text name="linkman-relation6"/>
                        </cell>
                    </row>
                    <row stretch="1">
                        <cell verticalAlignment="BOTH">
                            <label/>
                        </cell>
                    </row>
                </gridLayout>
            </tab>
        </tabbedPane>
    </boxLayout>
    <boxLayout>
        <ruler/>
    </boxLayout>
    <boxLayout horizontalAlignment="CENTER">
        <button actionName="ok" default="true"/>
        <button actionName="cancel"/>
    </boxLayout>
</ui>
