<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="导入Excel"
        width="600"
        height="300"
>
    <message name="load-success"><![CDATA[已成功导入{}条数据]]></message>
    <message name="load-fail"><![CDATA[导入数据失败]]></message>
    <message name="batchIn-title"><![CDATA[添加]]></message>
    <message name="success">已成功</message>
    <standardAction value="close"/>
    <action name="load" title="载入文件"/>
    <action name="delete" title="删除" smallIcon="delete.png"/>
    <action name="begin" title="开始"/>
    <action name="downTemp" title="单击下载模板"/>
    <options name="status">
        <option value="0">未创建</option>
        <option value="1">已创建</option>
    </options>
    <gridLayout>
        <column/>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <button actionName="load" name="load"/>
                    <button actionName="delete" name="delete"/>
                    <button actionName="begin" name="begin"/>
                    <button actionName="downTemp" name="downTemp"/>
                </boxLayout>
            </cell>
        </row>
        <row stretch="100">
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="loginName" title="登录名" type="TEXT" size="140"/>
                    <tableColumn name="name" title="姓名" type="TEXT" size="140"/>
                    <tableColumn name="amt" title="金额" type="CURRENCY" size="140"/>
                    <tableColumn name="status" title="状态" type="TEXT" size="100"/>
                </table>
            </cell>
        </row>
        <row>
            <cell>
                <ruler />
            </cell>
        </row>
        <row>
            <cell horizontalAlignment="CENTER">
                <button actionName="close" name="close"/>
            </cell>
        </row>
    </gridLayout>
</ui>
