<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="登录"
        icon="app-icon.png">
    <message name="fail">登录失败！</message>
    <standardAction value="ok"/>
    <standardAction value="cancel"/>
    <gridLayout>
        <column stretch="0" alignment="BOTH"/>
        <column stretch="0" alignment="BOTH"/>
        <column stretch="100" alignment="BOTH"/>
        <row>
            <cell>
                <label mnemonic="L" for="login-name">登录名(L)：</label>
            </cell>
            <cell columnSpan="2">
                <text name="login-name" type="TEXT"/>
            </cell>
        </row>
        <row>
            <cell>
                <label mnemonic="P" for="password">密码(P)：</label>
            </cell>
            <cell columnSpan="2">
                <text name="password" type="PASSWORD"/>
            </cell>
        </row>
        <row>
            <cell>
                <label mnemonic="T" for="captcha-code">验证码(T)：</label>
            </cell>
            <cell>
                <imageBox name="captcha-image"/>
            </cell>
            <cell>
                <text name="captcha-code" type="TEXT"/>
            </cell>
        </row>
        <row>
            <cell columnSpan="3" border="TOP" horizontalAlignment="CENTER">
                <button actionName="ok" default="true"/>
                <button actionName="cancel"/>
            </cell>
        </row>
    </gridLayout>
</ui>
