<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="班汇通后台管理系统"
        width="800" height="600"
        icon="app-icon.png">
    <message name="title-version">【{}】</message>
    <message name="update-confirm"><![CDATA[是否关闭进程并直接运行安装文件？]]></message>
    <action name="browseProjects" title="贷款项目(P)..." mnemonic="P" accelerator="ctrl P" description="管理贷款项目"/>
    <action name="browseCreditAssignments" title="债权转让(C)" mnemonic="C" accelerator="ctrl C" description="管理债权转让"/>
    <action name="dailyStatistic" title="日数据统计(D)" mnemonic="D" description="日数据统计"/>
    <action name="monthStatistic" title="月数据统计(M)" mnemonic="M" description="月数据统计"/>
    <action name="firstInvestor" title="首次投资客户(F)" mnemonic="F" description="第一次投资客户"/>
    <action name="vipInvestor" title="VIP投资客户(V)" mnemonic="V" description="VIP投资客户"/>

    <action name="browseBaPrjEngineers" title="工程项目(N)" mnemonic="N" description="工程项目"/>
    <action name="browseBaPrjCtors" title="施工单位(C)" mnemonic="C" description="施工单位"/>
    <action name="browseBaPrjOwners" title="项目业主(E)" mnemonic="E" description="项目业主"/>
    <action name="browseBaPrjGuaranteePers" title="担保个人(A)" mnemonic="A" description="担保个人"/>
    <action name="browseBaPrjGuaranteeOrgs" title="担保机构(G)" mnemonic="G" description="担保机构"/>
    <action name="browseBaPrjBorPers" title="借款个人(P)" mnemonic="P" description="借款个人"/>
    <action name="browseBaPrjBorOrgs" title="借款机构(O)" mnemonic="O" description="借款机构"/>
    <action name="browseBaPrjMortgage" title="抵押/质押人(M)" mnemonic="M" description="质押人"/>

    <action name="browsePerson" title="个人账户(P)" mnemonic="P" description="个人帐户"/>
    <action name="browseCorp" title="机构账户(O)" mnemonic="O" description="机构帐户"/>
    <action name="browseCommerceTrade" title="商户转账(T)" mnemonic="T" description="商户转账"/>
    <action name="browseYiMeiMessage" title="亿美短信(Y)" mnemonic="Y" description="已发送的亿美短信"/>
    <action name="browsePlatformMessage" title="发送消息(S)" mnemonic="S" description="发送平台消息"/>

    <action name="browseAssignRegClient" title="分配注册客户(R)" mnemonic="R" description="分配注册客户"/>
    <action name="browseMyClient" title="我的注册客户(B)" mnemonic="B" description="我的注册客户"/>
    <action name="browseClientMgrManagement" title="客户经理管理(M)" mnemonic="M" description="客户经理管理"/>
    <action name="browseQueryNewRegClient" title="客户管理-新增注册客户(J)" mnemonic="J" description="新增注册客户"/>
    <action name="dailyPerfStatistics" title="日绩效统计(G)" mnemonic="G" description="日绩效统计"/>
    <action name="monthPerfStatistics" title="月绩效统计(H)" mnemonic="H" description="月绩效统计"/>
    <action name="createQrCode" title="创建推广二维码（Q）" mnemonic="Q" description="创建推广二维码"/>

    <action name="browseSysUsers" title="帐户管理(U)" mnemonic="U" description="管理后台帐户"/>
    <action name="browseSysRoles" title="角色管理(R)" mnemonic="R" description="管理后台角色"/>
    <action name="changePassword" title="修改密码(P)" mnemonic="P" description="修改当前登录帐户的密码"/>

    <action name="exportExcel" title="导出Excel表格(E)" mnemonic="e" description="导出Excel表格"/>
    <action name="editSettings" title="系统设置(S)" mnemonic="S" description="查看和修改系统设置"/>

    <action name="exit" title="退出(X)" mnemonic="X" description="退出后台管理系统"/>
    <action name="about" title="关于(A)..." mnemonic="A" description="后台管理系统的简介"/>
    <action name="manual" title="下载操作手册(M)..." mnemonic="M" description="下载系统操作手册"/>

    <action name="update" title="更新最新版本.." mnemonic="U" description="更新管理系统最新版本"/>
    <menuBar>
        <menu title="项目管理(P)" mnemonic="P">
            <menuItem value="browseProjects"/>
            <menuItem value="browseCreditAssignments"/>
            <menuItem value="-"/>
            <subMenu title="数据统计(B)" mnemonic="B">
                <menuItem value="dailyStatistic"/>
                <menuItem value="monthStatistic"/>
                <menuItem value="firstInvestor"/>
                <menuItem value="vipInvestor"/>
            </subMenu>
            <menuItem value="exit"/>
        </menu>
        <menu title="基础数据(D)" mnemonic="D">
            <menuItem value="browseBaPrjEngineers"/>
            <menuItem value="browseBaPrjCtors"/>
            <menuItem value="browseBaPrjOwners"/>
            <menuItem value="-"/>
            <menuItem value="browseBaPrjGuaranteePers"/>
            <menuItem value="browseBaPrjGuaranteeOrgs"/>
            <menuItem value="-"/>
            <menuItem value="browseBaPrjBorPers"/>
            <menuItem value="browseBaPrjBorOrgs"/>
            <menuItem value="-"/>
            <menuItem value="browseBaPrjMortgage"/>
        </menu>
        <menu title="账户管理(A)" mnemonic="A">
            <menuItem value="browsePerson"/>
            <menuItem value="browseCorp"/>
            <menuItem value="-"/>
            <menuItem value="browseCommerceTrade"/>
            <menuItem value="-"/>
            <menuItem value="browseYiMeiMessage"/>
            <menuItem value="browsePlatformMessage"/>
        </menu>
        <menu title="客户关系管理(C)" mnemonic="C">
            <menuItem value="browseAssignRegClient"/>
            <menuItem value="browseMyClient"/>
            <menuItem value="-"/>
            <menuItem value="browseClientMgrManagement"/>
            <menuItem value="browseQueryNewRegClient"/>
            <menuItem value="-"/>
            <menuItem value="dailyPerfStatistics"/>
            <menuItem value="monthPerfStatistics"/>
            <menuItem value="-"/>
            <menuItem value="createQrCode"/>
        </menu>
        <menu title="后台管理(M)" mnemonic="M">
            <menuItem value="browseSysUsers"/>
            <menuItem value="browseSysRoles"/>
            <menuItem value="-"/>
            <menuItem value="changePassword"/>
        </menu>
        <menu title="工具(T)" mnemonic="S">
            <!--<menuItem value="exportExcel"/>-->
            <menuItem value="editSettings"/>
        </menu>
        <menu title="->"/>
        <menu title="帮助(H)" mnemonic="H">
            <menuItem value="about"/>
            <menuItem value="manual"/>
            <menuItem value="update"/>
        </menu>
    </menuBar>
</ui>
