<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="文件-"
        height="500"
        width="650"
>
    <message name="upload-success"><![CDATA[上传成功!]]></message>
    <message name="upload-file-confirm"><![CDATA[上传内容不存在！]]></message>
    <message name="delete-success"><![CDATA[文件删除成功!]]></message>
    <message name="download-success"><![CDATA[下载成功!]]></message>
    <message name="download-failed"><![CDATA[下载失败!]]></message>
    <message name="confirm-delete"><![CDATA[确定删除以下文件 <b>{}</b> : 此操作不可恢复!确认吗？]]></message>
    <action name="refresh" title="刷新" smallIcon="reset.png"/>
    <action name="upload" title="上传"/>
    <action name="download" title="下载"/>
    <action name="delete" title="删除" smallIcon="delete.png"/>
    <gridLayout>
        <column/>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <button actionName="refresh" name="refresh"/>
                    <button actionName="upload" name="upload"/>
                    <button actionName="download" name="download"/>
                    <button actionName="delete" name="delete"/>
                </boxLayout>
            </cell>
        </row>
        <row stretch="100">
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="name" title="文件" type="TEXT" size="220"/>
                    <tableColumn name="size" title="大小" type="TEXT" size="180"/>
                    <tableColumn name="lastModifiedTime" title="最新修改时间" type="DATE_TIME" size="220"/>
                    <tableColumn name="hash" title="文件Hash" type="TEXT" size="10"/>
                    <tableColumn name="id" title="文件id" type="TEXT" size="10"/>
                </table>
            </cell>
        </row>
    </gridLayout>
</ui>
