<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="放款记录-"
        width="1200"
        height="600">
    <message name="progress-text"><![CDATA[已执行金额：{}元 总共金额：{} 元]]></message>
    <message name="confirm-loan-text"><![CDATA[确定要执行放款吗？]]></message>
    <message name="confirm-text"><![CDATA[放款]]></message>
    <action name="loan" title="执行放款(L)" mnemonic="L"/>
    <action name="refresh" title="刷新(U)" mnemonic="U" smallIcon="reset.png"/>
    <action name="excel" title="导出为Excel"/>
    <options name="status1">
        <option value="0">未完成</option>
        <option value="1">已完成</option>
    </options>
    <options name="status2">
        <option value="-1">刚创建</option>
        <option value="0">执行中</option>
        <option value="1">失败</option>
        <option value="2">成功</option>
    </options>
    <gridLayout>
        <column />
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <button actionName="loan" name="loan"/>
                    <button actionName="refresh" name="refresh"/>
                    <button actionName="excel" name="excel"/>
                    <label name="progress"/>
                </boxLayout>
            </cell>
        </row>
        <row stretch="100">
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="_row" title="" type="TEXT" size="60"/>
                    <tableColumn name="tlId" title="ID" type="TEXT" size="100"/>
                    <tableColumn name="ttId" title="投资ID" type="TEXT" size="120"/>
                    <tableColumn name="auId" title="用户ID" type="TEXT" size="100"/>
                    <tableColumn name="realName" title="投资人姓名/机构名" type="TEXT" size="120"/>
                    <tableColumn name="status" title="状态" type="TEXT" size="100" optionsName="status1"/>
                    <tableColumn name="amt" title="金额" type="CURRENCY" size="130"/>
                    <tableColumn name="fee" title="服务费" type="CURRENCY" size="100"/>
                    <tableColumn name="datepoint" title="投资时间" type="DATE_TIME" size="180"/>
                    <tableColumn name="orderNo" title="订单号" type="TEXT" size="150"/>
                </table>
            </cell>
        </row>
        <row stretch="100">
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="detail">
                    <tableColumn name="_row" title="" type="TEXT" size="40"/>
                    <tableColumn name="jlpId" title="ID" type="TEXT" size="100"/>
                    <tableColumn name="accountId" title="投资人账户" type="TEXT" size="140"/>
                    <tableColumn name="forAccountId" title="借款人账户" type="TEXT" size="140"/>
                    <tableColumn name="orderId" title="订单号" type="TEXT" size="120"/>
                    <tableColumn name="txamount" title="金额" type="CURRENCY" size="100"/>
                    <tableColumn name="done" title="状态" type="TEXT" size="130" optionsName="status2"/>
                    <tableColumn name="batchDate" title="时间" type="DATE_TIME" size="160"/>
                    <tableColumn name="batch" title="批次号" type="TEXT" size="140"/>
                    <tableColumn name="failMsg" title="失败原因" type="TEXT" size="150"/>
                </table>
            </cell>
        </row>
    </gridLayout>
</ui>
