<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="收支明细(存管)-"
        height="450"
        width="950"
>
    <action name="search" title="搜索(S)" mnemonic="S"/>
    <action name="excel" title="导出Excel"/>
    <options name="status">
        <option value="0">（全部）</option>
        <option value="1">转入</option>
        <option value="2">转出</option>
    </options>
    <gridLayout>
        <column/>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <label for="tran-type-flag">类型：</label>
                    <dropDown name="tran-type-flag" optionsName="status"/>
                    <label for="key">关键字：</label>
                    <text name="key"/>
                    <button actionName="search" name="search"/>
                    <button actionName="excel" name="excel"/>
                </boxLayout>
            </cell>
        </row>
        <row stretch="1">
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="_row" title="" type="TEXT" size="40"/>
                    <tableColumn name="datepoint" title="时间" type="DATE_TIME" size="160"/>
                    <tableColumn name="seqno" title="流水号" type="TEXT" size="120"/>
                    <tableColumn name="remark" title="交易类型" type="TEXT" size="120"/>
                    <tableColumn name="debitAmt" title="金额" type="CURRENCY" size="140"/>
                    <tableColumn name="creditAmt" title="余额" type="CURRENCY" size="120"/>
                    <tableColumn name="remark" title="说明" type="TEXT" size="140"/>
                </table>
            </cell>
        </row>
    </gridLayout>
</ui>
