<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="修改密码">
    <message name="fail">修改密码失败！</message>
    <message name="password-not-equal">两次输入的新密码不一致！</message>
    <message name="success">密码已修改，请重新登录！</message>
    <standardAction value="ok"/>
    <standardAction value="cancel"/>
    <gridLayout>
        <column stretch="0"/>
        <column/>
        <row>
            <cell>
                <label mnemonic="O" for="old-password">原密码(O)：</label>
            </cell>
            <cell>
                <text name="old-password" type="PASSWORD" required="true" maxLength="20" size="20"/>
            </cell>
        </row>
        <row>
            <cell>
                <label mnemonic="P" for="new-password">新密码(P)：</label>
            </cell>
            <cell>
                <text name="new-password" type="PASSWORD" required="true" pattern="[0-9a-zA-Z!@#$]{8,20}" maxLength="20"
                      size="20"/>
            </cell>
        </row>
        <row>
            <cell>
                <label mnemonic="P" for="new-password2">再次输入新密码(N)：</label>
            </cell>
            <cell>
                <text name="new-password2" type="PASSWORD" required="true" pattern="[0-9a-zA-Z!@#$]{8,20}"
                      maxLength="20" size="20"/>
            </cell>
        </row>
        <row>
            <cell columnSpan="2" horizontalAlignment="CENTER">
                <literal>
                    <![CDATA[<html><strong>密码最短8位，最长20位，只能包含<u>数字</u>、<u>大写和小写英文字母</u>和字符<u>!@#$</u></strong></html>]]></literal>
            </cell>
        </row>
        <row>
            <cell columnSpan="2">
                <ruler/>
            </cell>
        </row>
        <row>
            <cell columnSpan="2">
                <boxLayout horizontalAlignment="CENTER">
                    <button actionName="ok" default="true"/>
                    <button actionName="cancel"/>
                </boxLayout>
            </cell>
        </row>
    </gridLayout>
</ui>
