<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="月统计客户名单-"
        width="1100"
        height="550"
>
    <message name="batchIn-title"><![CDATA[分配客户经理]]></message>
    <message name="success">已成功</message>
    <action name="statistics" title="统计(S)" mnemonic="S"/>
    <action name="history-detail" title="历史投资明细(R)" mnemonic="R"/>
    <action name="excel" title="导出为Excel"/>
    <options name="yes-no">
        <option value="0">否</option>
        <option value="1">是</option>
    </options>
    <gridLayout>
        <column/>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <label for="datepoint">查询时间：</label>
                    <text name="datepoint" type="DATE"/>
                    <button actionName="statistics"/>
                    <button actionName="history-detail" name="history-detail"/>
                    <button actionName="excel"/>
                </boxLayout>
            </cell>
        </row>
        <row stretch="100">
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="auId" title="ID" type="NUMBER_TEXT" size="140"/>
                    <tableColumn name="name" title="客户名称" type="TEXT" size="140"/>
                    <tableColumn name="mobile" title="手机号" type="TEXT" size="140"/>
                    <tableColumn name="investAmt" title="投资总金额" type="CURRENCY" size="140"/>
                    <tableColumn name="tenderAmt" title="投标金额" type="CURRENCY" size="140"/>
                    <tableColumn name="repaidCapitalAmt" title="已还本金" type="CURRENCY" size="140"/>
                    <tableColumn name="creditAmt" title="债权转入本金总额" type="CURRENCY" size="140"/>
                    <tableColumn name="bindCount" title="当月是否绑卡" type="TEXT" size="100" optionsName="yes-no"/>
                    <tableColumn name="firstInvest" title="首次是否投资" type="TEXT" size="100" optionsName="yes-no"/>
                    <tableColumn name="isInvest" title="是否投资" type="TEXT" size="100" optionsName="yes-no"/>
                    <tableColumn name="investCount" title="月投资总次数" type="NUMBER" size="100"/>
                    <tableColumn name="creditAssignCount" title="月债权转入总次数" type="NUMBER" size="100"/>
                    <tableColumn name="incomeAmt" title="平台收入" type="CURRENCY" size="140"/>
                </table>
            </cell>
        </row>
    </gridLayout>
</ui>
