<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="担保机构">
    <message name="create">创建</message>
    <message name="edit">编辑</message>
    <standardAction value="ok"/>
    <standardAction value="cancel"/>
    <gridLayout>
        <column stretch="0"/>
        <column/>
        <column stretch="0"/>
        <column/>
        <row>
            <cell>
                <label for="name">企业名称：</label>
            </cell>
            <cell>
                <text name="name" required="true" pattern="\w{2,}"/>
            </cell>
            <cell>
                <label for="show-name">展示名称：</label>
            </cell>
            <cell>
                <text name="show-name" required="true" pattern=".{2,}"/>
            </cell>
        </row>
        <row>
            <cell>
                <label for="registered-date">成立时间：</label>
            </cell>
            <cell>
                <text name="registered-date" type="DATE" size="10"/>
            </cell>
            <cell>
                <label for="reg-funds">注册资金：</label>
            </cell>
            <cell>
                <text name="reg-funds" size="10" suffix=" 万元 " type="NUMBER" required="true"/>
            </cell>
        </row>
        <row>
            <cell>
                <label for="reg-address">注册地址：</label>
            </cell>
            <cell>
                <text name="reg-address"/>
            </cell>
            <cell>
                <label for="show-reg-address">展示注册地址：</label>
            </cell>
            <cell>
                <text name="show-reg-address"/>
            </cell>
        </row>
        <row>
            <cell>
                <label for="postcode">邮编：</label>
            </cell>
            <cell>
                <text name="postcode" size="10"/>
            </cell>
            <cell>
                <label for="legal-id-card">法人身份证号：</label>
            </cell>
            <cell>
                <text name="legal-id-card" pattern="\d{18}|(\d{17}[xX])|\d{15}|(\d{14}[xX])" required="true"/>
            </cell>
        </row>
        <row>
            <cell>
                <label for="legal-person-name">法人姓名：</label>
            </cell>
            <cell>
                <text name="legal-person-name" pattern="\w{2,}" required="true"/>
            </cell>
            <cell>
                <label for="legal-person-show-name">展示法人名：</label>
            </cell>
            <cell>
                <text name="legal-person-show-name" pattern=".{2,}" required="true"/>
            </cell>
        </row>
        <row>
            <cell>
                <label for="linkman">联系人：</label>
            </cell>
            <cell>
                <text name="linkman" pattern="\w{2,}" required="true"/>
            </cell>
            <cell>
                <label for="mobile">联系电话：</label>
            </cell>
            <cell>
                <text name="mobile" required="true" pattern="^1[34578]\d{9}$"/>
            </cell>
        </row>
        <row>
            <cell>
                <label for="qualification">行业资质：</label>
            </cell>
            <cell horizontalAlignment="FIRST">
                <text name="qualification"/>
            </cell>
        </row>
        <row>
            <cell>
                <label for="social-credit-code">社会信用代码：</label>
            </cell>
            <cell>
                <text name="social-credit-code"/>
            </cell>
            <cell>
                <label for="show-social-credit-code">展示社会信用代码：</label>
            </cell>
            <cell>
                <text name="show-social-credit-code"/>
            </cell>
        </row>
        <row>
            <cell verticalAlignment="FIRST">
                <label for="intro">企业介绍：</label>
            </cell>
            <cell columnSpan="3" horizontalAlignment="BOTH">
                <text name="intro" type="TEXT_AREA" rowSize="6"/>
            </cell>
        </row>
        <row>
            <cell columnSpan="4" horizontalAlignment="BOTH">
                <ruler/>
            </cell>
        </row>
        <row>
            <cell columnSpan="4" horizontalAlignment="BOTH">
                <boxLayout horizontalAlignment="CENTER">
                    <button actionName="ok" default="true"/>
                    <button actionName="cancel"/>
                </boxLayout>
            </cell>
        </row>
    </gridLayout>
</ui>
