<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="借款个人">
    <message name="create">创建</message>
    <message name="edit">编辑</message>
    <standardAction value="ok"/>
    <standardAction value="cancel"/>
    <options name="gender-status">
        <option value="0">女</option>
        <option value="1">男</option>
    </options>
    <!--工作性质下拉-->
    <options name="work-status">
        <option></option>
        <option>国家机关、党群组织、企业、事业单位负责人</option>
        <option>专业技术人员</option>
        <option>办事人员和有关人员</option>
        <option>商业、服务业人员</option>
        <option>农、林、牧、渔、水利业生产人员</option>
        <option>生产、运输设备操作人员及有关人员</option>
        <option>军人</option>
        <option>不便分类的其他从业人员</option>
    </options>

    <gridLayout>
        <column stretch="0" alignment="FIRST"/>
        <column stretch="0" alignment="FIRST"/>
        <column stretch="0" alignment="FIRST"/>  <!--左对齐 -->
        <column stretch="0" alignment="FIRST"/> <!--两端拉升 -->
        <row stretch="0">
            <cell columnSpan="4" border="BOTTOM" horizontalAlignment="CENTER">
                <literal>借款人信息</literal>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="real-name">姓名：</label>
            </cell>
            <cell>
                <text name="real-name" size="24"/>
            </cell>
            <cell>
                <label for="show-name">展示名称：</label>
            </cell>
            <cell>
                <text name="show-name" size="24"/>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="age">年龄：</label>
            </cell>
            <cell>
                <text name="age" size="24"/>
            </cell>
            <cell>
                <label for="show-age">展示年龄：</label>
            </cell>
            <cell>
                <text name="show-age" size="24"/>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="mobile">手机号码：</label>
            </cell>
            <cell>
                <text name="mobile" size="24"/>
            </cell>
            <cell>
                <label for="email">E-Mail：</label>
            </cell>
            <cell>
                <text name="email" size="24"/>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="wchat">微信：</label>
            </cell>
            <cell>
                <text name="wchat" size="24"/>
            </cell>
            <cell>
                <label for="fax">传真：</label>
            </cell>
            <cell>
                <text name="fax" size="24"/>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="gender">性别：</label>
            </cell>
            <cell>
                <dropDown name="gender" optionsName="gender-status" size="8"/>
            </cell>
            <cell>
                <label for="work-years">从业经历：</label>
            </cell>
            <cell>
                <text name="work-years" size="8" />
                <label>年</label>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="id-card">身份证：</label>
            </cell>
            <cell>
                <text name="id-card" size="24"/>
            </cell>
            <cell>
                <label for="id-card-address-prov">省：</label>
            </cell>
            <cell>
                <text name="id-card-address-prov" size="8"/>
                <label for="id-card-address-city">市：</label>
                <text name="id-card-address-city" size="8"/>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="address">现住址：</label>
            </cell>
            <cell>
                <text name="address" size="24"/>

            </cell>
            <cell>
                <label for="show-address">展示地址：</label>
            </cell>
            <cell>
                <text name="show-address"  size="24"/>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="company">工作单位：</label>
            </cell>
            <cell>
                <text name="company" size="24"/>
            </cell>
            <cell>
                <label for="position">现任职务：</label>
            </cell>
            <cell>
                <text name="position" size="24"/>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="industry">所属行业：</label>
            </cell>
            <cell>
                <text name="industry" size="24" />
            </cell>
            <cell>
                <label for="work-nature">工作性质：</label>
            </cell>
            <cell>
                <text name="work-nature" optionsName="work-status" size="20"/>
            </cell>
        </row>
        <row stretch="0">
            <cell verticalAlignment="FIRST">
                <label for="other-info">其他信息：</label>
            </cell>
            <cell columnSpan="3" horizontalAlignment="BOTH">
                <text name="other-info" type="TEXT_AREA" rowSize="3"/>
            </cell>
        </row>

        <row stretch="0">
            <cell columnSpan="4" border="BOTTOM" horizontalAlignment="CENTER">
                <literal>联系人信息</literal>
            </cell>
        </row>

        <row stretch="0">
            <cell>
                <label for="linkman-name">姓名：</label>
            </cell>
            <cell>
                <text name="linkman-name" size="24"/>
            </cell>
            <cell>
                <label for="linkman-show-name">展示姓名：</label>
            </cell>
            <cell>
                <text name="linkman-show-name" size="24"/>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="linkman-mobile">手机号码：</label>
            </cell>
            <cell>
                <text name="linkman-mobile" size="24"/>
            </cell>
            <cell>
                <label for="linkman-email">E-Mail：</label>
            </cell>
            <cell>
                <text name="linkman-email" size="24"/>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="linkman-wchat">微信：</label>
            </cell>
            <cell>
                <text name="linkman-wchat" size="24"/>
            </cell>
            <cell>
                <label for="linkman-fax">传真：</label>
            </cell>
            <cell>
                <text name="linkman-fax" size="24"/>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="linkman-address">送达地址：</label>
            </cell>
            <cell>
                <text name="linkman-address" size="24"/>
            </cell>
            <cell>
                <label for="linkman-show-address">展示地址：</label>
            </cell>
            <cell>
                <text name="linkman-show-address" size="24"/>
            </cell>
        </row>
        <row stretch="0">
            <cell>
                <label for="linkman-id-card">身份证：</label>
            </cell>
            <cell>
                <text name="linkman-id-card" size="24"/>
            </cell>
            <cell>
            </cell>
            <cell>
            </cell>
        </row>
        <row stretch="0">
            <cell verticalAlignment="FIRST">
                <label for="intro">介绍：</label>
            </cell>
            <cell columnSpan="3" horizontalAlignment="BOTH">
                <text name="intro" type="TEXT_AREA" rowSize="6"/>
            </cell>
        </row>
        <row stretch="0">
            <cell columnSpan="4" border="TOP" horizontalAlignment="CENTER">
               <!-- <button actionName="获取签证人信息"/>-->
                <button actionName="ok" default="true"/>
                <button actionName="cancel"/>
            </cell>
        </row>
    </gridLayout>
</ui>
