<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="选择时间域">
    <standardAction value="ok"/>
    <standardAction value="cancel"/>
    <options name="dateUnit">
        <option value="0">天</option>
        <option value="1">周</option>
        <option value="2">月</option>
        <option value="3">年</option>
    </options>
    <gridLayout>
        <column stretch="0"/>
        <column stretch="0"/>
        <column/>
        <row>
            <cell>
                <label for="name">时间：</label>
            </cell>
            <cell>
                <boxLayout>
                    <label>上</label>
                    <text name="dateNum" type="NUMBER" required="true" size="8"/><!--  pattern="^([0-9]\\d*(\\.[0-9]*[1-9])?)|(0\\.[0-9]*[1-9])$" -->
                </boxLayout>

            </cell>
            <cell>
                <dropDown name="dateUnit"  optionsName="dateUnit"/>
            </cell>
        </row>
        <row>
            <cell>
                <label for="curDateRange">当前时间阈为：</label>
            </cell>
            <cell>
                <text name="startDate" type="DATE"/>
            </cell>
            <cell>
                <text name="endDate" type="DATE"/>
            </cell>
        </row>
        <row>
            <cell columnSpan="3" horizontalAlignment="CENTER">
                <literal>
                    <![CDATA[<html><strong><p>0代表当天（当周/当月/当年），</p></strong><><p><i>即从周一/月初/年初到（周末/月末/年末）;</i></p><strong><p>1代表上一天（上一周/上一月/上一年）;</p><p>-1代表下一天（下一周/下一月）</p><p>其他数字依次类推；</p><p>此处的一周指的一自然周，即从周一到周天；</p><p>此处的一月指的一自然月，即从月初到月末；</p><p>此处的一年指的一自然年，即从年初到年尾；</p></strong></html>]]></literal>
            </cell>
        </row>
        <row>
            <cell columnSpan="3" horizontalAlignment="BOTH">
                <boxLayout horizontalAlignment="CENTER">
                    <button actionName="ok" default="true"/>
                    <button actionName="cancel"/>
                </boxLayout>
            </cell>
        </row>
    </gridLayout>
</ui>
