<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="债权转让"
        width="800"
        height="600">
    <message name="confirm-delete-text"><![CDATA[提前撤销项目"{}"， 此操作不可恢复！确认吗？]]></message>
    <message name="revoke-success"><![CDATA[撤销债权项目成功]]></message>
    <message name="revoke-fail"><![CDATA[撤销债权项目失败]]></message>
    <action name="search" title="搜索(S)" mnemonic="S" smallIcon="search.png"/>
    <action name="advance-revoke" title="提前撤销"/>
    <action name="top" title="置顶"/>
    <action name="cancel-top" title="取消置顶"/>
    <action name="check-agreement" title="查看债权协议"/>
    <options name="date-type">
        <option value="1">发布时间：</option>
        <option value="2">截止时间：</option>
    </options>
    <options name="accelerate-date">
        <option value="-1">快速选择日期</option>
        <option value="1">最近一年</option>
        <option value="3">最近三年</option>
        <option value="5">最近五年</option>
        <option value="0">今年</option>
        <option value="-2">明年</option>
    </options>
    <options name="transfer-status">
        <option value="99">--全部--</option>
        <option value="0">正在转让</option>
        <option value="1">转让成功</option>
        <option value="2">转让失败</option>
    </options>
    <options name="key-type">
        <option value="1">转让编号</option>
        <option value="2">转让项目名称</option>
        <option value="3">转让人</option>
        <option value="4">ID</option>
    </options>
    <options name="prj-type">
        <option value="1">工程贷</option>
        <option value="7">供应商贷</option>
        <option value="8">分销商贷</option>
        <option value="9">个人贷</option>
        <option value="10">企业贷</option>
        <option value="5">票据贷</option>
    </options>
    <gridLayout>
        <column/>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <dropDown name="date-type" optionsName="date-type"/>
                    <text name="start-date" type="DATE"/>
                    <literal>-</literal>
                    <text name="end-date" type="DATE"/>
                    <dropDown name="accelerate-date" optionsName="accelerate-date"/>
                    <label>项目类型：</label>
                    <dropDown name="prj-type" optionsName="prj-type" includeAll="true"/>
                    <label>转让状态：</label>
                    <dropDown name="transfer-status" optionsName="transfer-status"/>
                </boxLayout>
            </cell>
        </row>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <label mnemonic="K" for="search-key">关键字(K)：</label>
                    <dropDown name="key-type" optionsName="key-type"/>
                    <text name="search-key" type="TEXT"/>
                    <button actionName="search" default="true"/>
                    <label name="remarks">标价差额 = 债权本金 - 转让标价</label>
                </boxLayout>
            </cell>
        </row>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <button actionName="advance-revoke" name="advance-revoke"/>
                    <button actionName="top" name="top"/>
                    <button actionName="cancel-top" name="cancel-top"/>
                    <button actionName="check-agreement" name="check-agreement"/>
                </boxLayout>
            </cell>
        </row>
        <row stretch="100">
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="pId" title="项目ID" type="NUMBER_TEXT" size="80"/>
                    <tableColumn name="itemNo" title="转让编号" type="TEXT" size="120"/>
                    <tableColumn name="itemName" title="转让项目名称" type="TEXT" size="140"/>
                    <tableColumn name="pyeRealName" title="转让人" type="TEXT" size="120"/>
                    <tableColumn name="pType" title="项目类型" type="TEXT" size="120" optionsName="prj-type"/>
                    <tableColumn name="status" title="项目状态" type="TEXT" size="120" optionsName="transfer-status"/>
                    <tableColumn name="totalTranNo" title="总期数" type="NUMBER_TEXT" size="120"/>
                    <tableColumn name="paidTranNo" title="已付期数" type="NUMBER_TEXT" size="120"/>
                    <tableColumn name="unpaidTranNo" title="剩余期数" type="NUMBER_TEXT" size="120"/>
                    <tableColumn name="assignAmt" title="转让标价" type="CURRENCY" size="120"/>
                    <tableColumn name="creditAmount" title="债权本金" type="CURRENCY" size="120"/>
                    <tableColumn name="priceDifference" title="标价差额" type="CURRENCY" size="120"/>
                    <tableColumn name="fee" title="转让手续费" type="CURRENCY" size="120"/>
                    <tableColumn name="realAmount" title="实收金额" type="CURRENCY" size="120"/>
                    <tableColumn name="assignStartTime" title="发布时间" type="DATE" size="120"/>
                    <tableColumn name="assginEndTime" title="截止时间" type="DATE" size="120"/>
                    <tableColumn name="pyrRealName" title="受让人" type="TEXT" size="120"/>
                    <tableColumn name="oldRate" title="原年化收益率" type="PERCENT" size="120"/>
                    <tableColumn name="assignRate" title="折算/当年年化收益率" type="PERCENT" size="120"/>
                    <tableColumn name="invokeTime" title="撤销时间" type="DATE" size="120"/>
                    <tableColumn name="invokeRes" title="撤销来源" type="TEXT" size="120"/>
                    <tableColumn name="tiId" title="债权业务表ID" type="TEXT" size="120"/>
                    <tableColumn name="topTime" title="置顶时间" type="DATE_TIME" size="120"/>
                </table>
            </cell>
        </row>
    </gridLayout>
</ui>
