<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="贷款项目"
        width="800"
        height="600">
    <action name="search" title="搜索(S)" mnemonic="S" smallIcon="search.png"/>
    <action name="view" title="查看(V)" mnemonic="V" smallIcon="view.png"/>
    <action name="edit" title="编辑(E)" mnemonic="E" smallIcon="edit.png"/>
    <action name="delete" title="删除(X)" mnemonic="X"/>
    <options name="status">
        <option value="0">未提交</option>
        <option value="1">待项目经理审批</option>
        <option value="10">待风控审批</option>
        <option value="20">待评委会审批</option>
        <option value="30">待业务副总审批</option>
        <option value="40">募集中</option>
        <option value="50">已募集满标</option>
        <option value="60">已确认满标</option>
        <option value="70">待复评</option>
        <option value="80">已放款</option>
        <option value="90">正在还款</option>
        <option value="999">已结清</option>
        <option value="-1">流标</option>
    </options>
    <options name="sign-status">
        <option value="0">未签章</option>
        <option value="1">已签章</option>
    </options>
    <gridLayout>
        <column stretch="1" alignment="FIRST"/>
        <row stretch="0">
            <cell horizontalAlignment="FIRST">
                <dropDown name="date-type">
                    <option value="1">创建时间：</option>
                    <option value="2">上线时间：</option>
                    <option value="3">放款时间：</option>
                    <option value="4">预计还本时间：</option>
                    <option value="5">结清时间：</option>
                </dropDown>
                <text name="start-date" type="DATE"/>
                <literal>-</literal>
                <text name="end-date" type="DATE"/>
                <dropDown name="status" includeAll="true" optionsName="status"/>
                <dropDown name="key-type">
                    <option value="1">编号：</option>
                    <option value="2">名称：</option>
                    <option value="3">融资方：</option>
                    <option value="3">创建人：</option>
                </dropDown>
                <text name="search-key" type="TEXT"/>
                <button actionName="search" default="true"/>
            </cell>
        </row>
        <row stretch="0">
            <cell horizontalAlignment="FIRST">
                <button actionName="view"/>
                <button actionName="edit"/>
                <button actionName="delete"/>
            </cell>
        </row>
        <row>
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="_row" title="" type="TEXT" size="40"/>
                    <tableColumn name="pId" title="项目ID" type="TEXT" size="60"/>
                    <tableColumn name="itemNo" title="项目编号" type="TEXT" size="100"/>
                    <tableColumn name="itemName" title="项目名称" type="TEXT" size="240"/>
                    <tableColumn name="status" title="状态" type="TEXT" size="60" optionsName="status"/>
                    <!--<tableColumn name="signStatus" title="签章状态" type="YES_OR_NO" size="40"/>-->
                    <tableColumn name="signStatus" title="签章状态" type="TEXT" size="60" optionsName="sign-status"/>
                    <tableColumn name="amt" title="计划募集金额" type="CURRENCY" size="80"/>
                    <tableColumn name="investedAmt" title="已募集金额" type="CURRENCY" size="80"/>
                    <tableColumn name="borrowDays" title="借款天数" type="NUMBER" size="60"/>
                    <tableColumn name="rate" title="借款利率（年化）" type="PERCENT" size="100"/>
                    <tableColumn name="costFee" title="总借款成本（年化）" type="PERCENT" size="100"/>
                    <tableColumn name="totalInterest" title="总利息" type="CURRENCY" size="100"/>
                    <tableColumn name="inProxy" title="项目经理" type="TEXT" size="100"/>
                    <tableColumn name="financier" title="融资方" type="TEXT" size="100"/>
                    <tableColumn name="createTime" title="创建时间" type="DATE_TIME" size="120"/>
                    <tableColumn name="onLineTime" title="上线时间" type="DATE_TIME" size="120"/>
                    <tableColumn name="loanTime" title="放款时间" type="DATE_TIME" size="120"/>
                    <tableColumn name="clearTime" title="结清时间" type="DATE_TIME" size="120"/>
                </table>
            </cell>
        </row>
    </gridLayout>
</ui>
