<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title="收支明细(平台)-"
        height="450"
        width="950"
>
    <action name="search" title="搜索(S)" mnemonic="S" smallIcon="search.png"/>
    <action name="excel" title="导出Excel"/>
    <options name="accelerate-date">
        <option value="-1">快速选择日期</option>
        <option value="1">最近一年</option>
        <option value="3">最近三年</option>
        <option value="5">最近五年</option>
        <option value="0">今年</option>
    </options>
    <options name="status">
        <option value="1">转入</option>
        <option value="2">转出</option>
    </options>
    <options name="ar-type">
        <option value="0">未知类型</option>
        <option value="1">充值</option>
        <option value="2">提现</option>
        <option value="3">放款</option>
        <option value="4">还本(投资人)</option>
        <option value="5">放款(借款人)</option>
        <option value="6">还本(借款人)</option>
        <option value="7">债权转入</option>
        <option value="8">债权转出</option>
        <option value="9">还息(投资人)</option>
        <option value="10">还息(借款人)</option>
        <option value="11">投标</option>
        <option value="14">还息服务费</option>
        <option value="15">放款服务费</option>
        <option value="18">债权转出手续费</option>
        <option value="21">接收红包</option>
    </options>
    <gridLayout>
        <column/>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <label for="create-date">查询时间：</label>
                    <text name="start-date" type="DATE"/>
                    <literal>-</literal>
                    <text name="end-date" type="DATE"/>
                    <dropDown name="accelerate-date" optionsName="accelerate-date"/>
                    <label for="tran-type-flag">类型：</label>
                    <dropDown name="tran-type-flag" optionsName="status" includeAll="true"/>
                    <!--<label for="key">关键字：</label>-->
                    <!--<text name="key"/>-->
                    <button actionName="search" name="search"/>
                    <button actionName="excel" name="excel"/>
                </boxLayout>
            </cell>
        </row>
        <row stretch="1">
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="datepoint" title="时间" type="DATE_TIME" size="160"/>
                    <tableColumn name="arId" title="流水号" type="TEXT" size="120"/>
                    <tableColumn name="remark" title="交易类型" type="TEXT" size="120"/>
                    <tableColumn name="amt" title="金额" type="CURRENCY" size="140"/>
                    <tableColumn name="pId" title="项目ID" type="NUMBER_TEXT" size="120"/>
                    <tableColumn name="itemName" title="项目名称" type="TEXT" size="160"/>
                </table>
            </cell>
        </row>
    </gridLayout>

</ui>
