<?xml version="1.0" encoding="utf-8" ?>
<ui
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://armory.xx.org/ui" xsi:schemaLocation=""
        title=""
        width="800"
        height="400">
    <message name="borPer">选择借款人账户</message>
    <message name="bondsMan">选择代偿账户</message>
    <standardAction value="ok"/>
    <standardAction value="cancel"/>
    <action name="search" title="搜索（S）" mnemonic="S" smallIcon="search.png"/>
    <options name="userType">
        <option>(全部)</option>
        <option value="1">个人</option>
        <option value="2">机构</option>
    </options>
    <options name="status">
        <option value="1">已注册</option>
        <option value="2">已开户</option>
    </options>
    <gridLayout>
        <column/>
        <row>
            <cell>
                <boxLayout horizontalAlignment="FIRST">
                    <label for="user-type">类型</label>
                    <dropDown name="user-type" optionsName="userType"/>
                    <label for="key">关键字（K）</label>
                    <text name="key"/>
                    <button actionName="search" name="search"/>
                </boxLayout>
            </cell>
        </row>
        <row stretch="100">
            <cell horizontalAlignment="BOTH" verticalAlignment="BOTH">
                <table name="list">
                    <tableColumn name="auId" title="ID" type="NUMBER" size="100"/>
                    <tableColumn name="loginName" title="用户名" type="TEXT" size="120"/>
                    <tableColumn name="userType" title="类型" type="TEXT" size="100" optionsName="userType"/>
                    <tableColumn name="status" title="状态" type="TEXT" size="120" optionsName="status"/>
                    <tableColumn name="realName" title="姓名/机构名" type="TEXT" size="160"/>
                    <tableColumn name="mobile" title="手机" type="TEXT" size="140"/>
                </table>
            </cell>
        </row>
        <row>
            <cell>
                <boxLayout horizontalAlignment="CENTER">
                    <button actionName="ok" default="true" name="ok"/>
                    <button actionName="cancel" name="cancel"/>
                </boxLayout>
            </cell>
        </row>
    </gridLayout>

</ui>
