<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true">
    <Appenders>
        <Appender name="Console" type="Console">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %C (%F:%L) - %m%n"/>
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.apache.commons" level="WARN"/>
        <Logger name="org.apache.http" level="WARN"/>
        <Logger name="org.apache.http.wire" level="DEBUG"/>
        <Logger name="org.apache.http.client" level="DEBUG"/>
        <Logger name="org.apache.http.impl.conn" level="DEBUG"/>
        <Logger name="org.apache.http.impl.client" level="DEBUG"/>
    </Loggers>
</Configuration>
